.Filter{
    background-color: rgba(255, 255, 255, 0.55);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
