.virtual-reality-map {
    position: relative;
  }
  
  .background-image {
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .helmet-image {
    position: absolute;
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: 30px; /* Ajusta el tamaño según sea necesario */
  }