.Menu {
    background-color: white;
    margin-top: 10%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.51);
    border-radius: 10px;
    height: 640px;
    
}

.MenuRow{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

.activeMenu {
    background-color: #153B84;
    color: white;
    border-radius: 10px;
}

.MenuRow:hover{
    background-color: #153B84;
    color: white;
    border-radius: 10px;

}
